<footer class="footer">

    <nav>
        <a href="https://webpages.charlotte.edu/lbrantl5/">Webspace</a>
        <a href="https://github.com/LaneBrantley">Github</a>
        <a href="https://lanebrantley.github.io/">GithubPages</a>
        <a href="https://lanebrantley.github.io/">Github Course Page</a>
        <a href="https://www.freecodecamp.org/fcc8df4a1a1-b4a8-4a92-bc31-754f61a1e45b">freecodecamp</a>
        <a href="https://www.codecademy.com/profiles/LaneBrantley">Codeacademy</a>
        <a href="https://www.linkedin.com/in/lane-brantley-315680254/">Linkedin</a>
    </nav>
    <p>This webpage has been designed by <a href="itis3135/brantleysoftware.com/">brantleysoftware</a></p>

    <a href="https://validator.w3.org/check?uri=referer">

        <img src="images/button_validation_html5.png" width="88" height="31" alt="Validate webpage HTML." />
    </a>
    <a href="https://jigsaw.w3.org/css-validator/check/referer">
        <img src="images/button_validation_css.png" width="88" height="31" alt="Validate webpage CSS." />
    </a>

</footer>